<header>
    <div class="euroformation">
        <p>EUROFORMATION ROUEN</p>
    </div>
    <nav>
        <a href="/index.html">
            <img id="logo" src="/images/logo.png" alt="logo">
        </a>
    <ul>
      <li><a href="/pages/voiture.html">Permis Voiture</a></li>
      <li><a href="/pages/moto.html">Permis Moto</a></li>
      <li><a href="/pages/poids-lourd.html">Permis Poids lourd</a></li>
      <li><a href="/pages/remorque.html">Permis Remorque</a></li>
      <li><a href="/pages/autres.html">Autres services</a></li>
    </ul>
  </nav>
</header>