button {
    cursor: pointer;
}

.banniere {
    background-color: rgba(238, 121, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    gap: 5rem;
    flex-wrap: wrap;
    color: white;
    text-align: left;
    overflow: hidden;
    min-height: 31rem;
}

.banniere-textes {
    flex: 1 1 400px;
    max-width: 33rem;
}

.banniere-textes h1 {
    margin-top: -5rem;
    font-size: 4rem;
    margin-bottom: 0.3rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.banniere-textes h2 {
    color: #f0fc04;
    font-size: 2.7rem;
    margin-left: 0.2rem;
}

.banniere-textes h3 {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
}

.banniere-textes ul {
    margin-top: 1rem;
}

.banniere-textes li {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
    background-image: url('/images/check_jaune.svg');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 1rem 1rem;
    list-style: none;
}

.jaune {
    color: #f0fc04;
    font-weight: bold;
}

.banniere-image {
    flex: 1 1 300px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banniere-image img {
    max-width: 200%;
    height: 25rem;
    object-fit: contain;
}

.banniere-boutons {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: -1.8rem;
  position: relative;
  z-index: 10;
}

.banniere-boutons button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: background-color 0.3s ease;
}

/* ------------------------------------------------------------------------------------------------------- */

.passe-permis {
    border: none;
    background-color: #f0fc04;
}

.contacte-nous {
    border: 3px solid rgb(228, 226, 226);
}

.contacte-nous:hover {
    border: 3px solid #3366FF;
    transition: border 0.3s ease;
}

/* ------------------------------------------------------------------------------------------------------- */

.choisis-ton-permis h1{
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
}

.choix {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    gap: 2rem;
}

.voiture, .moto, .poids-lourd, .remorque, .autre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 11rem;
    height: 15rem;
    border-radius: 30px;
    background-color:#f8f8f8;
}

.choix h1 {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.choix p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.choix img {
    width: 12rem;
    height: 7rem;
}

.choix span {
    margin-top: 0.3rem;
    font-weight: bold;
    color:#3366FF;
    font-size: 1.3rem;
}

.choix a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.plus {
    margin-top: -0.5rem;
}

.choix a:hover{
    background-color: #deecff;
    border-radius: 30px;
}

.choix .plus:hover {
    font-size: 1rem;
}

/* ------------------------------------------------------------------------------------------------------- */

.icons {
    display: flex;
    gap: 6rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
    font-size: 0.9rem;
}

.icons img {
    width: 1.3rem;
}

.icons span {
    font-weight: bold;
    color: #3366FF;
}

/* ------------------------------------------------------------------------------------------------------- */

.financement-component {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 3rem 0 6rem 10%;
    gap: 3rem;
    border-radius: 20px;
    height: 23rem;
    background-color: #EE7907;
    color: white;
}

.cpf-image {
    display: flex;
    margin-left: 0.5rem;
}

.financement-component .cpf-back{
    width: 33rem;
    height: 22rem;
    border-radius: 20px;
}

.financement-component .cpf-front{
    width: 8.7rem;
    height: 8rem;
    position: absolute;
    margin-left: 19rem;
    margin-top: 3rem;
    transform: rotate(-5deg);
}

.cpf-text h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

.cpf-text p {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.cpf-text button {
    margin-top: 3rem;
    height: 3rem;
    width: 15rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------- */

.point-component {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 0 0 6rem 10%;
    gap: 3rem;
    border: 4px solid #cacaca;
    border-radius: 20px;
    height: 23rem;
    color: black;
}

.point-image img {
    display: flex;
    width: 33rem;
    height: 21.7rem;
    border-radius: 20px;
    margin-right: 0.5rem;
}

.point-text h1 {
    font-size: 2.4rem;
    font-weight: 900;
}

.point-text p {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.point-text h1, .point-text p, .point-text button {
    margin-left: 3rem;
}

.point-text button {
    margin-top: 3rem;
    height: 3rem;
    width: 15rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------- */

.accompagnee-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 3rem 0 6rem 10%;
    gap: 3rem;
    border-radius: 20px;
    height: 23rem;
    background-color: #EE7907;
    color: white;
}

.accompagnee-image {
    display: flex;
    margin-left: 0.5rem;
}

.accompagnee-component .accompagnee-back{
    width: 33rem;
    height: 22rem;
    margin: 0;
    border-radius: 20px;
}

.accompagnee-component .accompagnee-front{
    height: 11rem;
    position: absolute;
    margin-left: 23rem;
    margin-top: 12rem;
    transform: rotate(9deg);
}

.accompagnee-text h1 {
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.accompagnee-text li {
    padding-left: 3rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    background-image: url('/images/badge-check.png');
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 1.5rem 1.5rem;
    list-style: none;
}

.accompagnee-text button {
    margin-top: 3rem;
    height: 3rem;
    width: 15rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}






/* === RESPONSIVE === */

@media (max-width: 900px) {
    .banniere {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banniere-textes,
    .banniere-image {
        max-width: 100%;
        padding: 1rem;
    }

    .banniere-textes li {
        background-position: 0 0.5em;
        padding-left: 1.8rem;
    }

    .banniere-textes ul {
        padding-left: 0;
    }
}